/**
 * Color variables
 */

// Monochromatic grayscale
$black: #000;
$white: #fff;
$gray: #444;
$light_gray: #f8f8f8;

$red: #d00;

/**
 * RWD Breakpoints for layout changes
 */
$breakpoints: (
  // Layout breakpoints
  'mobile'  : ( max-width:  767px ),
  'smallimage'  : ( min-width:  500px ),
  'small'   : ( min-width:  768px ),
  'smaller'   : ( max-width:  768px ),
  'overlay'   : ( max-width:  800px ),
  'medium'  : ( min-width:  960px ),
  'large'   : ( min-width: 1140px ),
  'xlarge'   : ( min-width: 1520px ),
  'tablet'  : ( max-width:  960px )
);

/**
 * Susy grid setup
 */
$susy: (
  columns: 12,
  gutters: 0,
  container: 1040px
);
