<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">

    <title>React by Rock</title>
    
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="shortcut icon" href="/img/logo_small.png" />
    <!-- Typekit -->
    <script src="//use.typekit.net/jcg7jrb.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    

    <link rel="stylesheet" href="https://highlightjs.org/static/demo/styles/dark.css" />

    <% if (process.env.NODE_ENV == 'production') { %>
      <link rel="stylesheet" href="/css/main.min.css" />
    <% } else { %>
      <link rel="stylesheet" href="/css/main.css" />
    <% } %>

  </head>
  <body>
