<%- include ./layouts/_site_header.ejs %>

	<form action="/login" method="post" class="admin-form">
		<h2>Login</h2>
		<div class="form-group">
			<input type="text" name="email" placeholder="Email" >
		</div>
		<div class="form-group">
			<input type="password" name="password" placeholder="Password">
		</div>
	     <div class="submit_button">
                <button type="submit">Login</button>
          </div>
	</form>

<%- include ./layouts/_site_footer.ejs %>