/**
 * $MAIN HEADER
 */
#header {
  @include clearfix;
  position: fixed;
  padding: 14px 0;
  z-index: 1000;
  width: 100%;
  font-size: em(14px);
}

.headroom.headroom--not-top.headroom--pinned {
  background: rgba(0,0,0,0.8);
}

/**
 * $HEADER LOGO
 */
.logo {
  float: left;
  margin: -4px 10px 0 10px;
}

.banner {
  position: relative;
  padding: 40px 0;
  background: $black url(../img/bg--hockey_banner.jpg) no-repeat center top;
  background-size: cover;

  @include respond-to(mobile) {
    padding: 20px 0;
  }
}

.banner__headline {
  padding: 0 20px;
  margin: 0;
  font-size: em(21px);
  line-height: 1;
  text-transform: uppercase;
  color: $white;

  @include respond-to(mobile) {
    font-size: em(21px);
  }
  @include respond-to(small) {
    font-size: em(28px);
    padding-left: 30px;
    padding-right: 120px;
  }
  @include respond-to(medium) {
    font-size: em(36px);
  }
}

.banner-wrap {
  padding-top: 51px;
  background-color: $black;

  @include respond-to(mobile) {
    padding-top: 37px;
  }
}

.sport-type-avatar {
  position: absolute;
  right: 30px;
  top: 20px;
  z-index: 1010;
  width: 36px;

  @include respond-to(mobile) {
    display: none;
  }

  @include respond-to(small) {
    width: 52px;
  }

  @include respond-to(medium) {
    width: 66px;
  }

  img {
    width: 100%;
    opacity: 1;
  }
}

.headroom {
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}


