*, *:before, *:after {
  box-sizing: border-box;
}

@-ms-viewport { width: auto !important; }

img, media {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

nav ul {
  list-style: none;
}

html {
  background-color: $light_gray;
}

html, body {
	height: 100%;
}

hr {
	border: none;
	border-bottom: 1px $gray solid;
	margin: 30px 0;
}

code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em;
	background: #444;
	color: white;
	padding: 15px;
	line-height: 2;
}