.card_wrapper {
	display: inline-block;
	margin: 5px;
}

.card {
	width: 100px;
	height: 150px;
	border: 1px #eee solid;
	display: table;
	background: white;
	
	&.red {
		color: red;

		path {
			fill: red;
		}

	}

	svg {
		max-width: 50px;
		max-height: 50px;
		margin: auto;
		display: block;
	}

	a.face {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}

.controls {
	display: table;
	width: 100%;
	max-width: 800px;
	margin: 20px auto;
	  border-bottom: 1px solid #aaa;
	span {
		display: table-cell;
		padding: 15px;
		transition: 0.15s ease-in;
		cursor: pointer;
	}
	span:hover {
		color: $red;

	}
} 