.card_wrapper {
	display: inline-block;
	margin: 5px;
	cursor: pointer;
	vertical-align: middle;

	.card {
		width: 100px;
		height: 150px;
		border: 1px #eee solid;
		display: table;
		background: white;
		transition: 0.15s ease-in;

		&.red {

			color: $red;

			path {
				fill: $red;
			}

		}

		svg {
			max-width: 50px;
			max-height: 50px;
			margin: auto;
			display: block;

			path {
				transition: 0.15s ease-in;
			}
		}

		.face {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}
		.value {
			font-size: 20px;
		}
	}

	&.selected .card {
		&.red {
			background: $red;
			color: white;
			path {
				fill: white;
			}

		}
		&.black {
			background: $black;
			color: white;
			path {
				fill: white;
			}

		}
	}
}

.select-a-card {
  text-align: center;
  color: #444;
  font-weight: 100;
}

.card_demo {
	padding: 50px;
	.card_wrapper {
		display: table;
  		margin: auto;
		.card {

			width: 300px;
			height: 450px;
			margin: auto;
			.value {
				font-size: 40px;
			}
			svg {
				max-width: 150px;
				max-height: 150px;
			}
		}
	}
}

.controls {
	display: table;
	margin: 20px auto;
	  border-bottom: 1px solid #aaa;
	span {
		display: table-cell;
		padding: 15px;
		transition: 0.15s ease-in;
		cursor: pointer;
	}
	span:hover {
		color: $red;

	}
} 